<div class="search-container">
    <h2>Place Input</h2>

    <form [formGroup]="placeForm">
        Value: {{ placeForm.value | json}}

        <hr />

        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
        <br />
        <mat-checkbox formControlName="inhibitorArc" class="checkbox-margin">Inhibitor Arc</mat-checkbox>
        <mat-checkbox formControlName="observable">Observable</mat-checkbox>
        <br />
        <div *ngIf="placeForm.value.observable">
            <mat-form-field>
                <mat-select placeholder="Observer Type" formControlName="observerType">
                    <mat-option *ngFor="let type of observerTypeList" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br />
        <button mat-raised-button color="primary">Add</button>

    </form>

    <h2>Places List</h2>
    <!--
  <div *ngIf="placeList.length > 0">
    <mat-list>
      <mat-list-item *ngIf='!placeItem.editing'>
        <h4 mat-line>
          {{placeItem.name}}
        </h4>
        <span class="button-span">
          <button class="button-margin" mat-raised-button color="accent" (click)="editPlaceItem(placeItem)">edit</button>
          <button class="button-margin" mat-raised-button color="warn" (click)="deletePlaceItem(placeItem)">delete</button>
        </span>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item *ngIf='placeItem.editing'>
        <h4 mat-line>
          <mat-form-field>

          </mat-form-field>
        </h4>
        <span class="button-span">
          <button mat-raised-button color="accent" (click)="savePlaceItem(placeItem)">save</button>
        </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    
    
  </div>
-->



    <!--
  <div *ngIf="!(placeList.length > 0)">
    <p>
      No places in the list.
    </p>
  </div>
-->
</div>
